*.aux
*.log
*.out
*.bbl 
*.bcf 
*.blg 
*.fdb_latexmk 
*.fls 
*.xml
# escondo las soluciones a los ejercicios
ejercicios/*.tex
!ejercicios/ejercicio7.tex
!ejercicios/ejercicio9.tex
mientras.pdf

/_minted-*